/*]
Check letter-spacing with actual fonts

change text to vw

*/

/* Colors Palette
============================

UK2Group orange: rgb(247, 138, 22) / Hex: #f78a16
Black: rgb(0, 0, 0) / Hex: #000
White: rgb(255, 255, 255) / Hex #fff

*/



/* Reset & Clearfix
============================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

::-webkit-input-placeholder {
    color: #000;
}

::-moz-input-placeholder {
    color: #000;
}

::-ms-input-placeholder {
    color: #000;
}

::-o-input-placeholder {
    color: #000;
}

::input-placeholder {
    color: #000;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}



/* General
============================*/

body {
    color: #000;
    background-color: #fff;
}

header, footer {
    background: #000;
    color: #fff;
}



/* Typography
============================*/

body {
    font: normal 1.25em/150% 'Arvo', serif;
    
}

h1, h2, h3, h4, nav {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 3.75em;
    font-size: 8vmax;
    letter-spacing: -5px;
}

.kern {
    letter-spacing: 1px;
}

h2 {
    font-size: 2.25rem;
    letter-spacing: -2px;
}

nav a {
    font-weight: normal;
    font-size: 1.25rem;
    text-decoration: none;
}

p, textarea  {
    text-indent: 15px;
}



/* Links
============================*/

a {
    color: inherit;
    transition: 0.5s ease-in-out;
}

a:hover {
    color: rgb(247, 138, 22);
    transform: scale(1.25);
    transition: 0.5s;
}

a:visited {
    color: inherit;
}

a:active, input[type="button"]:active {
    transform: scale(0.75);
}
/* this is for whatever query is active, color will change to help user know which one they are currently using */
.active-query a {
    color: #000;
}



/* Header & Nav
============================*/

header {
    background: url('../_assets/banner.jpg') bottom center / cover no-repeat;
}

h1 {
    padding: 15% 0 0 0;
}

nav ul{
    margin: 50px 0 0 0;
}

nav ul li{
    border-bottom: 1px solid #fff;
}

nav ul li a {
    background: rgba(247, 138, 22, 0.80);
    display: block;
    width: 100%;
    transition: .5s;
    padding: 7px;
    transition: 0.3s ease-in-out;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-decoration: none;
}


/* Wrapper
============================*/

.wrapper {
    margin: 0 auto;
    padding: 30px 15px;
}

.wrapper h2 {
    margin-bottom: 17px;
    padding: 30px 0 20px 0;
}

.description h2 {
    margin-bottom: 25px;
}

input, textarea {
    outline: none;
    resize: none;
}

form input, form textarea, form select, button {
    width: 100%;
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
    margin: 0 0 15px 0;
    padding: 10px;
    border: 1px solid black;
    background: #fff;
    text-align: center;
    transition: 0.5s;
}

input[type="search"], .lookup select {
    background: rgba(247, 138, 22, 0.80);
    height: 45px;
}

textarea {
    min-height: 150px;
}

textarea[name="message"]:focus, input[type="search"]:focus {
    box-shadow: inset #000 0 0 10px;
}

textarea[name="message"] {
    border: 3px solid rgba(247, 138, 22, 0.80);
}

textarea[name="message"], textarea[name="results"] {
    text-align: left;
}

input[type="button"] {
    color: #fff;
    background: #000;
}

input[type="button"]:hover {
    color: #000;
    background: rgba(247, 138, 22, 0.80);
}


/* Footer
============================*/

footer {
    padding: 35px 25px;
    text-align: center;
    font-size: 0.75em;
}

footer a, footer p {
    padding: 10px;
}

footer ul li:first-child img{
    margin: 10px;
    width: 150px;
    
}

footer ul li:nth-child(n+2) img {
    width: 45px;
    margin-top: 10px;
}



/* Media Queries
============================*/

@media screen and (min-width: 600px) {
    h1 {
        text-align: left;
        padding-left: 3%;
    }
    
    nav {
        background: rgba(247, 138, 22, 0.80);
        margin: 30px 0 30px 0 ;
    }
    
    nav ul {
        text-align: center;
    }
    
    nav ul li{
        display: inline-block;
        padding: 0 1%;
        border: none;
    }
    
    nav ul li a, nav ul li a:hover {
        background: none;
        border: none;
        padding: 15px 0;
    }
    
    nav ul li a:active, nav ul li a:active {
        text-shadow: #000 0 0 15px;
    }
    
    /* flexbox Nav*/

    nav ul{
        display: flex;
        justify-content: space-between;
    } 

    nav ul li {
        align-items: stretch;
    }
    
    .wrapper {
        padding-top: 0;
        width: 90%;
    } 
    
    
    input[type="button"] {
        width: 49%;
        float:left;
    }
    
    input[type="button"]:last-of-type {
        float:right;
    }
}

@media screen and (min-width: 800px) {
    
    .wrapper {
        width: 65%;
    }
    
    nav ul li {
        padding: 0 2%;
    }
    
}

@media screen and (min-width: 960px) {
    
    nav ul li{
        padding: 0 3.25%;
    }
    
    .wrapper {
        width: 95%
    }
    
    .description {
        float: left;
        width: 40%;
    }
    
    .lookup {
        float: right;
        width: 55%;
    }
    
    .description h2 {
        padding: 30px 0 10px 0;
    }
    
}

@media screen and (min-width: 1200px) {
    
    .description {
        float: left;
        width: 30%;
    }
    
    .lookup {
        float: right;
        width: 60%;
    }
    
    .description h2 {
        padding: 30px 0 10px 0;
    }
    
    footer ul {
        width: 100%;
    }
    
    footer ul li {
        display: inline-block;
        list-style-type: none;
    }
    
    footer ul li:first-child {
        padding: 0 14% 0 1%;
    }
    
    footer ul li:last-child {
        padding: 0 1% 0 14%;
    }
    
    footer ul li:nth-child(2n) {
        position: relative;
        top: -12px;
    }  
}

@media screen and (min-width: 1500px) {
    body {
        font-size: 1vw;
    }
    
    .wrapper {
        width: 80%;
    }
    
    h1 {
        font-size: 7em;
    }
    
    h1:last-of-type {
        font-size: 5.5em;
    }
    
    nav ul li{
        padding: 0 5%;
    }
    
    nav ul li a {
        font-size: 1.5em;
    }
    
    h2 {
        font-size: 2.25em;
    }
}